.image-card-wrapper {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.image-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: flipAndSpin 4s linear infinite;
  border-radius: inherit;
  overflow: hidden;
}

.image-card-inner > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.image-card-front {
  transform: rotateY(0deg);
}

.image-card-back {
  transform: rotateY(180deg);
}

@keyframes flipAndSpin {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
